@use "../custom" as *;
@use "../components/mixins" as *;

.menu__bar{
    @include gradient;
    background: #000000;
   ul{
    padding: 0.725rem 0;
   
    
   }
   li{
    padding: 0 0.2rem;
    // font-weight: 700;
    a{
        color: $black;
    }
   }
   

}
